@media (orientation: landscape) and (max-width: 1024px) {
  .wrapper {
    h1 {
      font-size: 7vw;
    }
    form {
      input {
        font-size: 3vw;
      }
      button {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
      }
    }
    p.search {
      font-size: 3vw;
    }
    ul.list {
      li {
        margin: 1vw;
        padding: 1vw 0 1vw 4vw;
        font-size: 3vw;
        button {
          font-size: 5vw;
        }
      }
    }
  }
}