@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$green: rgb(34, 209, 28);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  background-color: rgba(228, 228, 20, 0.719);
  min-height: 100vh;
  font-family: roboto, arial, sans-serif;
  color: rgba(0, 0, 0, 0.822);

  h1 {
    flex-basis: 7vh;
    text-transform: uppercase;
    font-size: 5vh;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 9vh;
    width: 70%;
    max-width: 500px;

    input {
      margin-bottom: 1vh;
      font-size: 3vh;
      padding: 1vh;
      border-radius: 20px;
      transition: .3s;
      width: 100%;

      &:hover {
        cursor: text;
      }

      &:focus {
        border-radius: 20px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 3px $green;
        outline-width: 0;
      }
    }

    button {
      border-radius: 20px;
      width: 20vh;
      font-size: 3vh;
      padding: 2vh;
      outline-width: 0;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $green;
      color: white;
      border: none;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  h2 {
    font-weight: normal;
    font-size: 4vh;
    flex-basis: 8vh;

    span {
      font-weight: bold;
    }
  }

  p.search {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
  }

  input.search {
    border-radius: 20px;
    font-size: 2vh;
    padding: 1vh;
    transition: .3s;

    &:hover {
      cursor: text;
    }

    &:focus {
      border-radius: 20px;
      border: 2px solid transparent;
      box-shadow: 0 0 0 3px $green;
      outline-width: 0;
    }
  }

  p.list {
    margin-top: 2vh;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1vh;
    font-size: 3vh;
  }

  button.reset {
    margin: 1vh;
    padding: 1vh;
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    background-color: rgba(252, 4, 4, 0.842);
    border-radius: 5px;
    border: none;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  ul.list {
    position: relative;
    list-style: none;
    text-align: left;

    li {
      position: relative;
      background-color: rgba(87, 255, 21, 0.363);
      margin: 1vh;
      padding: 1vh 0 1vh 4vh;
      font-size: 3vh;
      width: 50vw;
      max-width: 400px;
      word-wrap: break-word;

      button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 5vh;
        width: 20%;
        background-color: rgba(252, 4, 4, 0.685);
        color: white;
        font-weight: bold;
        border: none;
        transform: translate(100%);
        transition: .3s;

        &:hover {
          transform: translate(100%) scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.wrapper ul.list li.checked {
  text-decoration: line-through;
  color: rgb(92, 90, 90);
  background-color: rgba(66, 88, 57, 0.363);
}

.wrapper ul.list li.unchecked {
  text-decoration: none;
  background-color: rgba(87, 255, 21, 0.363);
}

@import '_media.scss';