@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
  background-color: rgba(228, 228, 20, 0.719);
  min-height: 100vh;
  font-family: roboto, arial, sans-serif;
  color: rgba(0, 0, 0, 0.822);
}

.wrapper h1 {
  -ms-flex-preferred-size: 7vh;
      flex-basis: 7vh;
  text-transform: uppercase;
  font-size: 5vh;
}

.wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 9vh;
      flex-basis: 9vh;
  width: 70%;
  max-width: 500px;
}

.wrapper form input {
  margin-bottom: 1vh;
  font-size: 3vh;
  padding: 1vh;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
}

.wrapper form input:hover {
  cursor: text;
}

.wrapper form input:hover .wrapper form input:focus {
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 3px #22d11c;
          box-shadow: 0 0 0 3px #22d11c;
  outline-width: 0;
}

.wrapper form button {
  border-radius: 20px;
  width: 20vh;
  font-size: 3vh;
  padding: 2vh;
  outline-width: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #22d11c;
  color: white;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.wrapper h2 {
  font-weight: normal;
  font-size: 4vh;
  -ms-flex-preferred-size: 8vh;
      flex-basis: 8vh;
}

.wrapper h2 span {
  font-weight: bold;
}

.wrapper p.search {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vh;
}

.wrapper input.search {
  border-radius: 20px;
  font-size: 2vh;
  padding: 1vh;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper input.search:hover {
  cursor: text;
}

.wrapper input.search:focus {
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 3px #22d11c;
          box-shadow: 0 0 0 3px #22d11c;
  outline-width: 0;
}

.wrapper p.list {
  margin-top: 2vh;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1vh;
  font-size: 3vh;
}

.wrapper button.reset {
  margin: 1vh;
  padding: 1vh;
  text-transform: uppercase;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  background-color: rgba(252, 4, 4, 0.842);
  border-radius: 5px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper button.reset:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.wrapper ul.list {
  position: relative;
  list-style: none;
  text-align: left;
}

.wrapper ul.list li {
  position: relative;
  background-color: rgba(87, 255, 21, 0.363);
  margin: 1vh;
  padding: 1vh 0 1vh 4vh;
  font-size: 3vh;
  width: 50vw;
  max-width: 400px;
  word-wrap: break-word;
}

.wrapper ul.list li button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5vh;
  width: 20%;
  background-color: rgba(252, 4, 4, 0.685);
  color: white;
  font-weight: bold;
  border: none;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper ul.list li button:hover {
  -webkit-transform: translate(100%) scale(1.1);
          transform: translate(100%) scale(1.1);
  cursor: pointer;
}

.wrapper ul.list li.checked {
  text-decoration: line-through;
  color: #5c5a5a;
  background-color: rgba(66, 88, 57, 0.363);
}

.wrapper ul.list li.unchecked {
  text-decoration: none;
  background-color: rgba(87, 255, 21, 0.363);
}

@media (orientation: landscape) and (max-width: 1024px) {
  .wrapper h1 {
    font-size: 5vw;
  }
  .wrapper form input {
    font-size: 5vw;
    width: 100%;
  }
  .wrapper form button {
    font-size: 3vw;
    padding: 2vw;
    width: 20vw;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .wrapper h2 {
    -ms-flex-preferred-size: 8vw;
        flex-basis: 8vw;
    font-size: 4vw;
  }
  .wrapper p.search {
    font-size: 3vw;
  }
  .wrapper input.search {
    font-size: 2vw;
    padding: 1vw;
  }
  .wrapper p.list {
    font-size: 3vw;
  }
  .wrapper button.reset {
    margin: 1vw;
    padding: 1vw;
    font-size: 3vw;
    font-weight: bold;
  }
  .wrapper ul.list li {
    margin: 1vw;
    padding: 1vw 0 1vw 4vw;
    font-size: 3vw;
  }
  .wrapper ul.list li button {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=style.css.map */